<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ESP32 Wattmeter</title>
    
    
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<script>
var numberOfSamplesAvailable = 0;
var voltageSamples = []
var currentSamples = []
var powerSamples = []
var samplingPeriodUs = 1

var BASE_URL = ""
//var BASE_URL = "http://10.11.12.18"  // for debugging purposes from PC

function onloadHandler() 
{
    setInterval(refreshLastReading, 1000); 
    replotData()
};


function displayLastFilteredMeasurement(voltageV, currentA, powerW) {
    var currentMa = currentA * 1000
    document.getElementById("lastCurrent").innerHTML = currentMa.toFixed(1)
    document.getElementById("lastVoltage").innerHTML = voltageV.toFixed(3)
    document.getElementById("lastPower").innerHTML = powerW.toFixed(3)
}

function refreshLastReading() {
    $.ajax({
        url: BASE_URL + "/last-filtered-reading",

        dataType: 'json',
        success: function(json) {
//            console.log(json);
            displayLastFilteredMeasurement(json['voltageV'], json['currentA'], json['powerW'])
        },
        error: function() {
            console.log('Failed to get last filtered measurement!')
        }
    });
}


function getDataAndReplot() {
    $.ajax({
        url: BASE_URL + "/number-of-samples",

        dataType: 'json',
        success: function(json) {
            console.log(json);
            numberOfSamplesAvailable = json['numberOfSamples']
            document.getElementById("plotSamples").innerHTML = numberOfSamplesAvailable.toString()

            voltageSamples = []
            currentSamples = []
            powerSamples = []
            continuePlotDataDownload();
        },
        error: function() {
            console.log('Failed to get getDataAndReplot!')
        }
    });


    $.ajax({
        url: BASE_URL + "/samples-base-period",

        dataType: 'json',
        success: function(json) {
            console.log(json);
            samplingPeriodUs = json['samplingPeriodUs']
        },
        error: function() {
            console.log('Failed to get getDataAndReplot!')
        }
    });
}

function continuePlotDataDownload() {
    if (numberOfSamplesAvailable == voltageSamples.length)
        return

    var sampleEnd = Math.min(voltageSamples.length + 1000, numberOfSamplesAvailable) - 1
    var requestContent = {
        "startSample": voltageSamples.length,
        "endSample": sampleEnd
    }
    var requestContentJson = JSON.stringify(requestContent)
    console.log(requestContentJson)

    $.ajax({
        url: BASE_URL + "/samples",
        contentType: 'application/json',
        data: requestContentJson,
        dataType: 'json',
        success: function(json) {
            console.log(json)
            data = json["data"]
            for (var i = 0; i < data.length; i++) {
                var voltageV = data[i][0]
                var currentA = data[i][1]
                var power = voltageV * currentA
                voltageSamples.push(voltageV)
                currentSamples.push(currentA * 1000)
                powerSamples.push(power)
            }

            replotData()
            continuePlotDataDownload()
        },
        error: function() {
            console.log('Failed to get plot data!')
        },
        processData: false,
        type: 'POST',
    });

}

function replotData() {

    var timeVector = []
    for (var i = 0; i < voltageSamples.length; i++) {
        timeVector.push(i * samplingPeriodUs / 1000000)
    }

    if (document.getElementById("plotType_ui").checked) {

        var trace1 = {
            x: timeVector,
            y: voltageSamples,
            name: 'Voltaeg [V]',
            type: 'scatter'
        };

        var trace2 = {
            x: timeVector,
            y: currentSamples,
            name: 'Current [mA]',
            yaxis: 'y2',
            type: 'scatter'
        };

        var data = [trace1, trace2];

        var layout = {
            title: 'U/I plot',
            yaxis: {
                title: 'Voltaeg [V]'
            },
            yaxis2: {
                title: 'Current [mA]',
                titlefont: {
                    color: 'rgb(148, 103, 189)'
                },
                tickfont: {
                    color: 'rgb(148, 103, 189)'
                },
                overlaying: 'y',
                side: 'right'
            },
            xaxis: {
                title: "Time [s]"
            }
        };
    }
    if (document.getElementById("plotType_power_total").checked) {
        var powerTotal = []
        var powerSum = 0
        for (var i = 0; i < voltageSamples.length; i++) {
            powerSum += powerSamples[i] * samplingPeriodUs / 1000000
            powerTotal.push(powerSum)
        }
        var trace1 = {
            x: timeVector,
            y: powerTotal,
            name: 'Energy [W*s]',
            type: 'scatter'
        };


        var data = [trace1];

        var layout = {
            title: 'Total Energy plot',
            yaxis: {
                title: 'Energy [W*s]'
            },
            xaxis: {
                title: "Time [s]"
            }
        };
    }
    if (document.getElementById("plotType_power").checked) {
        var trace1 = {
            x: timeVector,
            y: powerSamples,
            name: 'Power [W]',
            type: 'scatter'
        };


        var data = [trace1];

        var layout = {
            title: 'Power plot',
            yaxis: {
                title: 'Power [W]'
            },
            xaxis: {
                title: "Time [s]"
            }
        };
    }
    if (document.getElementById("plotType_mas_total").checked) {
        var masTotal = []
        var masSum = 0
        for (var i = 0; i < voltageSamples.length; i++) {
            masSum += currentSamples[i] * samplingPeriodUs / 1000000
            masTotal.push(masSum)
        }
        var trace1 = {
            x: timeVector,
            y: masTotal,
            name: 'Capacity [mA*s]',
            type: 'scatter'
        };


        var data = [trace1];

        var layout = {
            title: 'Capacity mA*s',
            yaxis: {
                title: 'Capacity [mA*s]'
            },
            xaxis: {
                title: "Time [s]"
            }
        };
    }


    Plotly.newPlot('plotDiv', data, layout);
}

function startRecording() {
    var requestContent = {
        "durationMs": document.getElementById("input_duration").value * 1000,
        "recordingSamplesDecimation": document.getElementById("input_decimation").value * 1
    }
    var requestContentJson = JSON.stringify(requestContent)
    console.log(requestContentJson)

    $.ajax({
        url: BASE_URL + "/start-recording",
        contentType: 'application/json',
        data: requestContentJson,
        dataType: 'json',
        success: function(json) {
            console.log("RESP:")
            console.log(json)
        },
        error: function() {
            alert("Failed to start recording!")
        },
        processData: false,
        type: 'POST',
    });
}

function setResistors() {
    var requestContent = {
        "resistanceR1R2Factor": document.getElementById("resistorR12factor_input").value * 1,
        "resistanceRs": document.getElementById("resistorRs_input").value * 1
    }
    var requestContentJson = JSON.stringify(requestContent)
    console.log(requestContentJson)

    $.ajax({
        url: BASE_URL + "/resistors",
        contentType: 'application/json',
        data: requestContentJson,
        dataType: 'json',
        success: function(json) {
            console.log("RESP:")
            console.log(json)
        },
        error: function() {
            alert("Failed to set resistance!")
        },
        processData: false,
        type: 'POST',
    });
}

</script>


<body onload="onloadHandler();">
   <div id='myDiv'>ESP32 ADC sampling rate is 10 kHz. Due to limited memory, recorded data can be decimated by a factor.</div>
   <table class="table table-striped">
      <tbody>
         <tr>
            <th scope="col"> 
               <label for="input_duration">Recording duration [s]:</label>
               <input type="number" class="form-control" id="input_duration" placeholder="Data recording duration, e.g. 5" name="duration">
            </th>
            <th scope="col">
               <label for="input_decimation">Recording decimation:</label>
               <input type="number" class="form-control" id="input_decimation" placeholder="Recorded samples decimation, e.g. 20" name="decimation">
            </th>
            <th scope="col"> <br><button type="button" class="btn btn-primary" onclick="startRecording()">Start Recording</button> </th>
            <th scope="col">  </th>
         </tr>
      </tbody>
   </table>
   <table class="table table-striped">
      <tbody>
         <tr>
            <th scope="col"> Last current [mA] <br>I = <object id="lastCurrent">?</id></th>
            <th scope="col">Last voltage [V] <br>V = <object id="lastVoltage">?</id></th>
            <th scope="col">Last power [W] <br>P = <object id="lastPower">?</id></th>
         </tr>
      </tbody>
   </table>
   <div id='plotDiv' style="min-height: 700px;"></div>
   <table class="table table-striped">
      <tbody>
         <tr>
            <th scope="col"> Samples: <br><object id="plotSamples">0</id></th>
            <th scope="col">
               <div class="form-group" id="selectedPlotMode">
                  <label><input type="radio" name="plotType" id="plotType_ui" checked class="form-control">
                  &nbsp;&nbsp;U, I Plot&nbsp;&nbsp;      </label>
                  <label><input type="radio" name="plotType" id="plotType_power" class="form-control">
                  &nbsp;&nbsp;Power Plot&nbsp;&nbsp;</label>
                  <label><input type="radio" name="plotType" id="plotType_power_total" class="form-control">
                  &nbsp;&nbsp;Energy Total&nbsp;&nbsp;</label>
                  <label><input type="radio" name="plotType" id="plotType_mas_total" class="form-control">
                  &nbsp;&nbsp;mA*s Total&nbsp;&nbsp;</label>
               </div>
            </th>
            <th scope="col"> <button type="button" class="btn btn-primary" onclick="getDataAndReplot()">Replot</button> </th>
            <th scope="col">  </th>
         </tr>
      </tbody>
   </table>
   <table class="table table-striped">
      <tbody>
         <tr>
            <th scope="col"> 
               <label for="resistorRs_input">R_s [Ohm]:</label>
               <input type="number" step="0.01" class="form-control" id="resistorRs_input" placeholder="e.g. 2" name="duration">
            </th>
            <th scope="col">
               <label for="resistorRs_input">R_12factor:</label>
               <input type="number" step="0.01" class="form-control" id="resistorR12factor_input" placeholder="e.g. 4" name="decimation">
            </th>
            <th scope="col"> <br><button type="button" class="btn btn-primary" onclick="setResistors()">Set Resistors</button> </th>
            <th scope="col">  </th>
         </tr>
      </tbody>
   </table>
   <div id='myDiv'>R_s is resistance of the sensing resistor. It should be chocesn to achieve R_s*I_max less than 0.8V. E.g. in circuit with 1 A max, the resistor should be 0.8 ohm. <br>
      R_1 and R_2 are the resisor of the voltage divider measuring the voltage. They should be chocesn to achieve U_max*R_1/(R_1+R_2) less than 0.8V. As R_12factor please input value (R_1+R_2)/R_1.
   </div>
</body>